<!-- <p>home works!</p>


<div class="slider-toggle">
    <label *ngFor="let view of views" class="toggle-option" [htmlFor]="view">
      <input
        type="radio"
        name="view"
        [(ngModel)]="selectedView"
        [value]="view"
        id="{{view}}"
     
      />
      <span class="view-label">{{ view }}</span>
    </label>
  </div>
  
  <div>
  <select #date [(ngModel)]="selectedDate" onchange="onSelected()">
    <option *ngFor="let date of dateArray" [value]="date">{{ date }}</option>
  </select>
</div> -->

<input type="button" onclick="test()" />